*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(206, 169, 240);
    margin: 5px;
    padding: 0;   
}

header{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
}

.navbar{
   background-color:rgb(166, 103, 225);
}

.list{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.about{
   list-style-type: none; 
   display: flex;
   flex-direction: column;
}

h1, h2 {
    font-family: 'Spectral', serif;    
}

p, a{
    font-family: 'Roboto', sans-serif;
}

.bottom{
    display: flex;
    justify-content: space-around;
    background-color:rgb(166, 103, 225);
    list-style-type: none;
}


